html {
  @apply text-base-sm md:text-base;
}

body {
  @apply bg-body text-base dark:bg-darkmode-body font-primary font-normal leading-relaxed text-text dark:text-darkmode-text;
  font-size: 16px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold leading-tight text-dark dark:text-darkmode-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

blockquote > p {
  @apply my-0 #{!important};
}

.content :is(:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  font-size: 17px !important;
}

.bg-gradient-to-b {
  background-color: white !important;
  background-image: none !important;
}

.blog-card-title {
  font-size: 20px;
}

.summary + p {
  color: rgba(38, 50, 56, 0.7) !important;
}

#TableOfContents {
  line-height: 20px;
}

#TableOfContents ol {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.navbar-brand img {
  height: 32px;
}
